In [1]:
import pandas as pd

# load the tab-delimited csv file
movie_data = pd.read_csv('./current_movie_data.csv', sep='\t')

In [19]:
movie_data.head()

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0015724,Dama de noche,Dama de noche,1993,102,"Drama,Mystery,Romance",6.2,19
1,tt0023331,Pesn o geroyakh,Pesn o geroyakh,1983,50,Documentary,6.8,66
2,tt0035423,Kate & Leopold,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",6.4,71535
3,tt0036606,"Another Time, Another Place","Another Time, Another Place",1983,118,Drama,6.6,209
4,tt0057461,La rosa de los vientos,La rosa de los vientos,1983,84,NaN,4.1,10

In [20]:
genre_data = movie_data['genres']

genre_data.head()

0     Drama,Mystery,Romance
1               Documentary
2    Comedy,Fantasy,Romance
3                     Drama
4                       NaN
Name: genres, dtype: object

<hr>

In [4]:
movies_genres_list = movie_data['genres'].tolist()

# convert all values to a string and return the map as a list
# source: https://stackoverflow.com/a/1303354
movies_genres_list = list(map(str, movies_genres_list))

In [5]:
movies_genres_list

['Drama,Mystery,Romance',
 'Documentary',
 'Comedy,Fantasy,Romance',
 'Drama',
 'nan',
 'Drama,Fantasy',
 'Drama',
 'Comedy',
 'Comedy,Drama,Romance',
 'Drama',
 'Drama',
 'Action,Comedy',
 'Action',
 'Drama,Thriller',
 'Drama',
 'Action,Drama,Thriller',
 'Documentary,Sport',
 'Drama,War',
 'Horror',
 'Comedy,Drama',
 'Comedy',
 'Documentary',
 'Comedy,Crime,Drama',
 'Adventure,Comedy,Horror',
 'Documentary',
 'nan',
 'Horror,Sci-Fi',
 'Drama,Horror',
 'Documentary',
 'Comedy',
 'Drama',
 'Documentary',
 'Comedy',
 'Action,Drama',
 'Crime,Drama',
 'Action',
 'Comedy',
 'Drama',
 'Adventure,Comedy,Drama',
 'Action,Drama',
 'nan',
 'Sci-Fi',
 'Action,Adventure,Comedy',
 'Action,Mystery',
 'Documentary',
 'Adventure,Western',
 'nan',
 'Comedy',
 'Action,Drama',
 'Drama',
 'nan',
 'Drama',
 'Documentary',
 'Comedy,Crime',
 'Action,Drama',
 'Action,Drama',
 'nan',
 'nan',
 'Horror,Thriller',
 'Horror',
 'Action,Adventure',
 'Action,Thriller',
 'Drama,Romance',
 'Drama,Romance',
 'Comedy',
 'Comedy,Drama,Romance',
 'Comedy,Romance',
 'Drama',
 'Thriller',
 'Adventure,Horror',
 'Action,Adventure',
 'Comedy,Drama',
 'Adventure,Animation,Family',
 'Drama',
 'Action,Adventure,Drama',
 'Action,Mystery',
 'Comedy,Sport',
 'Action,Drama',
 'Drama,Thriller',
 'nan',
 'Drama,Mystery',
 'Action,Mystery',
 'Drama',
 'Horror,Sci-Fi',
 'Horror',
 'Comedy,Drama',
 'nan',
 'Animation,Comedy,Family',
 'Drama',
 'Horror,Thriller',
 'Thriller',
 'Drama,Horror,Thriller',
 'Comedy',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy,Crime',
 'Drama',
 'Horror',
 'Drama,Music',
 'Drama,History',
 'Crime,Horror,Thriller',
 'Biography,Drama',
 'Drama',
 'Drama,Thriller',
 'Family',
 'Action,Drama,History',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Adventure,Horror',
 'Horror',
 'Crime,Drama,Sci-Fi',
 'Drama',
 'nan',
 'Animation,Family',
 'Comedy',
 'Drama,History',
 'Comedy',
 'Comedy,Drama',
 'Comedy',
 'Crime,Drama',
 'Drama,War',
 'nan',
 'Drama,Music',
 'Action,Comedy',
 'Crime,Drama',
 'Action,Drama,Romance',
 'Adventure,Crime,Thriller',
 'Horror',
 'Drama',
 'Drama,Thriller',
 'Comedy',
 'Action,Drama',
 'nan',
 'Drama,Thriller',
 'Drama',
 'Crime,Drama',
 'Comedy,Drama',
 'Action,Adventure',
 'Drama',
 'Drama,Family',
 'nan',
 'Comedy',
 'Comedy,Drama,War',
 'Action,Comedy',
 'Comedy',
 'Animation,Drama,Musical',
 'Drama',
 'Adventure,Horror,Sci-Fi',
 'Adventure,Animation,Drama',
 'nan',
 'Comedy',
 'nan',
 'Drama,Thriller',
 'Comedy',
 'Drama',
 'Action,Drama',
 'Comedy',
 'Comedy,Drama',
 'Family',
 'Drama',
 'Drama',
 'Comedy',
 'nan',
 'nan',
 'Comedy',
 'nan',
 'Drama,Fantasy,Romance',
 'Adventure,Drama,War',
 'Action,Drama',
 'Action,Adventure,Comedy',
 'Documentary',
 'nan',
 'Comedy,Crime,Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Horror,Sci-Fi',
 'Comedy,Drama,Romance',
 'Drama,Thriller',
 'nan',
 'Drama',
 'Comedy,Drama,History',
 'Comedy',
 'Drama',
 'Adventure,Comedy,Family',
 'Drama,War',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance,War',
 'Crime,Thriller',
 'Action,Drama',
 'Action,Comedy,Crime',
 'Action,Drama',
 'nan',
 'Drama',
 'Action,Crime,Drama',
 'Action,Adventure',
 'Drama',
 'Drama',
 'Action,Adventure,Family',
 'Comedy,Fantasy',
 'Comedy,Drama',
 'Comedy',
 'Horror',
 'Drama,Thriller',
 'Drama',
 'Documentary,Music',
 'Animation,Family,Fantasy',
 'Drama',
 'Drama,Romance',
 'Comedy',
 'Drama,Romance',
 'Adventure,Comedy,Drama',
 'Drama',
 'Drama,Family',
 'Action,Drama',
 'Drama,Musical,Romance',
 'Action,Drama',
 'Action,Drama',
 'nan',
 'Action,Romance',
 'Comedy,Horror',
 'Drama,Music',
 'Family,Musical',
 'Drama,Romance,War',
 'Documentary',
 'Drama,Romance',
 'Drama',
 'Biography,Drama',
 'Action,Comedy,Drama',
 'Action,Drama',
 'Comedy',
 'nan',
 'Crime,Drama,Romance',
 'Comedy,Musical,Romance',
 'Documentary',
 'Drama',
 'Drama,Romance',
 'Crime,Drama,Thriller',
 'Drama',
 'Drama',
 'Drama',
 'Comedy,Romance,Sci-Fi',
 'Action',
 'Action,Drama',
 'Drama',
 'Drama,History',
 'Drama,History,War',
 'Drama',
 'Comedy',
 'Action,Crime,Drama',
 'Drama,History,War',
 'nan',
 'Comedy',
 'nan',
 'Documentary,Music',
 'Drama,Mystery,Thriller',
 'Comedy,Drama,Family',
 'Comedy',
 'nan',
 'nan',
 'Documentary',
 'Comedy',
 'Drama',
 'Comedy,Drama,Romance',
 'Biography,Documentary',
 'Comedy,Horror,Sci-Fi',
 'Documentary',
 'Horror,Sci-Fi,Thriller',
 'Drama,War',
 'Horror,Sci-Fi,Thriller',
 'nan',
 'Horror,Thriller',
 'Drama',
 'Crime,Drama,Mystery',
 'Comedy',
 'Drama',
 'Action,Thriller',
 'Action,Comedy',
 'Horror,Sci-Fi,Thriller',
 'Music,Musical,Sci-Fi',
 'Comedy,Drama',
 'Comedy,Sport',
 'nan',
 'Crime,Drama,Romance',
 'Comedy,History',
 'Adventure,Family,Musical',
 'Crime,Drama',
 'Horror',
 'Drama',
 'nan',
 'Drama',
 'Drama,Mystery,Thriller',
 'Drama',
 'Action,Drama',
 'Drama',
 'Comedy,Crime,Drama',
 'nan',
 'Action,Comedy',
 'Comedy,Drama',
 'Family',
 'Drama,Romance',
 'Action,Mystery',
 'Action,Adventure,Sci-Fi',
 'Comedy',
 'Action,Comedy,Drama',
 'Drama,Family',
 'nan',
 'Adventure,Horror',
 'Crime,Drama,Mystery',
 'Drama',
 'nan',
 'Action,Comedy,Crime',
 'Drama,War',
 'Horror',
 'Comedy',
 'Horror',
 'Action,Crime',
 'Comedy,Crime,Drama',
 'nan',
 'Crime,Drama',
 'Drama',
 'Horror,Sci-Fi',
 'Adventure,Drama,Romance',
 'Documentary,Music',
 'Adventure,Comedy,Crime',
 'Adventure,Animation,Comedy',
 'Horror',
 'Action,Drama',
 'nan',
 'Drama,Musical',
 'Drama',
 'Action,Adventure,Comedy',
 'Drama',
 'Crime,Drama',
 'Action,Drama',
 'Action,Crime',
 'Biography,Drama,History',
 'Action',
 'Drama',
 'Drama,Sport',
 'Comedy,Drama,Musical',
 'Action,Adventure,Crime',
 'Horror',
 'Comedy,Sport',
 'Comedy',
 'Comedy',
 'Biography,Comedy,Musical',
 'Comedy',
 'Adventure,Drama,War',
 'Drama,Fantasy,Mystery',
 'Crime,Drama,Horror',
 'Crime,Horror',
 'Drama',
 'Action',
 'nan',
 'Horror,Thriller',
 'Comedy',
 'Horror',
 'Drama',
 'Comedy',
 'Comedy',
 'Comedy,Drama',
 'Action,Drama,Mystery',
 'Action,Drama,Sci-Fi',
 'Action',
 'Comedy,Drama',
 'Horror',
 'Biography,Drama,War',
 'Comedy',
 'Comedy,Crime,Sci-Fi',
 'nan',
 'Comedy,Crime',
 'Drama',
 'Horror,Sci-Fi',
 'Adventure,Mystery',
 'Action,Comedy,Family',
 'Adventure,Drama,Family',
 'Documentary',
 'Drama',
 'Drama,War',
 'Comedy,Drama,Family',
 'Comedy,Drama',
 'Comedy,Drama,Music',
 'Drama',
 'Adventure,Drama',
 'Comedy,Drama,Sport',
 'Drama',
 'Biography,Drama,Music',
 'Comedy,Drama,Romance',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Drama,Music,Romance',
 'Drama',
 'Drama',
 'Comedy',
 'Biography,Drama,Romance',
 'Adventure,Comedy,Crime',
 'Crime,Drama,Mystery',
 'Drama,History,War',
 'nan',
 'Comedy',
 'Drama',
 'Drama',
 'nan',
 'Action',
 'nan',
 'Horror',
 'Comedy,Drama',
 'Adventure',
 'Romance',
 'Comedy,Romance',
 'Biography,Documentary',
 'Crime,Drama',
 'Adventure,Horror,Mystery',
 'Drama,Romance',
 'Action,Crime,Drama',
 'Comedy,Crime',
 'Horror',
 'nan',
 'Drama,Romance,War',
 'nan',
 'Drama',
 'Comedy',
 'Drama,History,War',
 'nan',
 'Comedy,Drama',
 'Action,Adventure,Fantasy',
 'Adventure,Comedy,Crime',
 'Comedy',
 'Drama',
 'Comedy,Romance',
 'Comedy,Documentary,Music',
 'Comedy',
 'Action,Adventure,Comedy',
 'Action,Comedy,Drama',
 'Comedy',
 'Action,Adventure,Drama',
 'Drama',
 'nan',
 'Horror,Mystery,Thriller',
 'Drama,History',
 'Comedy',
 'Drama,Family',
 'Comedy,Romance',
 'Action,Crime,Drama',
 'Comedy',
 'Thriller',
 'Comedy,Drama,Horror',
 'Mystery,Thriller',
 'Action,Adventure,Drama',
 'Comedy,Family,Fantasy',
 'Adventure,Drama',
 'nan',
 'nan',
 'Biography,Drama',
 'Documentary',
 'nan',
 'nan',
 'Action,Comedy,History',
 'Action,Drama',
 'Action,Adventure,Fantasy',
 'Drama',
 'Biography,Drama',
 'Action,Mystery',
 'Comedy,Drama',
 'Crime',
 'Comedy',
 'nan',
 'Drama',
 'Action,Adventure,Comedy',
 'nan',
 'Action,Crime',
 'Action,Crime,Drama',
 'Drama',
 'Action,Drama',
 'Comedy,Horror,Thriller',
 'Drama,Romance',
 'Comedy,Sci-Fi',
 'Drama,Music,Musical',
 'Action,Comedy',
 'Drama,Musical',
 'Comedy',
 'Comedy,Drama',
 'Comedy,Drama,Romance',
 'Comedy,Family',
 'Action,Drama',
 'Comedy,Drama,Romance',
 'Comedy,Mystery',
 'Horror',
 'Comedy',
 'Drama,Thriller',
 'Action,Sci-Fi',
 'Drama',
 'Thriller',
 'Comedy',
 'Documentary,Sport',
 'Action,Drama',
 'Action,Adventure,Sci-Fi',
 'Comedy,Romance',
 'Drama,Thriller',
 'Action',
 'Horror,Thriller',
 'Comedy,Romance,Sport',
 'Comedy,Fantasy,Musical',
 'Action,Drama,Family',
 'Crime,Thriller',
 'Drama',
 'Horror,Mystery,Thriller',
 'Horror',
 'nan',
 'Action,Crime',
 'Adventure,Drama,Horror',
 'Comedy,Sci-Fi',
 'Drama',
 'Drama',
 'Drama',
 'Documentary,History',
 'Comedy',
 'nan',
 'Documentary,Drama,History',
 'Comedy,Music',
 'Comedy',
 'Horror,Thriller',
 'Comedy,Documentary',
 'Drama',
 'Crime,Drama,Thriller',
 'Comedy',
 'Drama,Horror',
 'Action,Adventure',
 'Sci-Fi',
 'Action,Crime,Drama',
 'Comedy',
 'Comedy',
 'Comedy',
 'Drama',
 'Music',
 'nan',
 'Comedy',
 'Drama,Romance',
 'Drama',
 'nan',
 'Comedy,Drama,Family',
 'Action,Comedy,Fantasy',
 'Action,Comedy,Horror',
 'nan',
 'Comedy,Musical',
 'Action,Biography,Sci-Fi',
 'Comedy,Drama,Romance',
 'nan',
 'Comedy',
 'Drama',
 'Drama,Fantasy,Mystery',
 'Drama',
 'Horror,Thriller',
 'Adventure,Fantasy',
 'Comedy',
 'Drama',
 'Horror,Thriller',
 'Drama',
 'Drama,Musical',
 'Drama,Horror,Thriller',
 'Drama',
 'Adventure,Drama,Western',
 'Comedy,Drama,Thriller',
 'Comedy',
 'Drama',
 'Adventure,Comedy,Family',
 'Drama,Romance',
 'Comedy,Romance',
 'Drama',
 'Drama',
 'Action,Comedy,Thriller',
 'Comedy',
 'Drama',
 'nan',
 'Documentary',
 'Comedy',
 'Comedy',
 'nan',
 'Adventure,Romance',
 'Drama,Romance',
 'Drama,Music,Romance',
 'Adventure,Comedy',
 'Drama',
 'Action,Adventure,Drama',
 'Action,Comedy',
 'Comedy,Drama',
 'Comedy,Crime',
 'Sport',
 'Drama',
 'Action,Drama',
 'Horror,Sci-Fi',
 'Action,Drama',
 'Biography,Drama',
 'Action,Biography,Comedy',
 'Drama',
 'Drama,Fantasy,History',
 'Drama',
 'Comedy',
 'Biography,Drama,Music',
 'Sci-Fi,Thriller',
 'Drama,Romance',
 'Comedy',
 'Fantasy',
 'Horror',
 'Drama',
 'Crime,Drama,Family',
 'Drama',
 'Comedy',
 'Documentary',
 'Horror,Sci-Fi,Thriller',
 'Horror,Sci-Fi',
 'Action,Adventure,Drama',
 'Comedy,Drama',
 'Drama,Romance',
 'Drama',
 'nan',
 'nan',
 'Drama,Romance',
 'nan',
 'Drama,Music,Romance',
 'Comedy',
 'Comedy,Drama,Romance',
 'Drama',
 'Action,Thriller',
 'Action,Drama,Sci-Fi',
 'Crime,Drama,Thriller',
 'Comedy,Drama,Romance',
 'Documentary',
 'Drama',
 'Action,Comedy,Drama',
 'Comedy,Romance',
 'Drama,History,War',
 'Drama',
 'Documentary',
 'Comedy',
 'Comedy',
 'Comedy',
 'Action',
 'Action,Comedy',
 'Thriller',
 'Crime,Drama,Mystery',
 'Comedy',
 'Adventure',
 'Comedy,Crime',
 'nan',
 'Drama',
 'nan',
 'Drama',
 'Drama',
 'Action,Biography,Drama',
 'Action,Comedy',
 'Comedy',
 'Action',
 'Drama',
 'Action',
 'Drama',
 'Drama',
 'Comedy',
 'nan',
 'Horror',
 'Drama,Romance',
 'Adventure,Family',
 'Comedy',
 'Horror',
 'Drama',
 'Comedy,Romance',
 'Drama,History',
 'Comedy',
 'Action',
 'Comedy,Drama',
 'Documentary,History,War',
 'Documentary',
 'Comedy,Fantasy',
 'Adventure,Crime',
 'Biography,Drama,History',
 'Comedy,Drama',
 'Comedy,Drama,Romance',
 'Drama',
 'Action,Adventure,Drama',
 'Comedy',
 'Comedy',
 'Crime,Drama,Mystery',
 'Crime,Western',
 'Adventure,Crime,Drama',
 'Drama,Romance',
 'Drama,Romance',
 'Comedy',
 'Action,Crime,Drama',
 'Drama',
 'Drama,War',
 'Drama',
 'Drama,History,War',
 'Comedy,Crime,Romance',
 'Comedy',
 'Drama',
 'Action,Drama',
 'Action,Comedy,Drama',
 'Family',
 'Comedy,Drama',
 'Drama',
 'Comedy,Horror',
 'Biography,Drama,History',
 'Comedy,Crime,Mystery',
 'Drama',
 'Adventure,Horror',
 'Drama',
 'Drama,Horror,Thriller',
 'Drama',
 'Drama,Thriller',
 'Comedy,Thriller',
 'Comedy,Crime,Drama',
 'Comedy,Drama,Thriller',
 'Drama',
 'Drama',
 'Comedy',
 'Drama,Thriller',
 'Crime,Drama',
 'Comedy,Crime,Drama',
 'Drama,Music',
 'Drama,History',
 'Comedy,Drama',
 'Comedy,Drama',
 'Comedy',
 'Drama',
 'Crime,Mystery,Thriller',
 'Drama,Mystery',
 'Drama,Romance',
 'Action,Drama',
 'Documentary',
 'Comedy',
 'Drama',
 'Comedy,Horror',
 'Comedy,Drama,Romance',
 'Comedy,Horror',
 'Horror',
 'Drama,Sci-Fi',
 'Drama',
 'Comedy,Horror,Thriller',
 'Comedy,Crime,Horror',
 'Adventure,Western',
 'Romance',
 'Drama',
 'Horror',
 'nan',
 'Adventure,Comedy,Drama',
 'Drama,Romance',
 'Horror,Mystery,Sci-Fi',
 'Documentary',
 'Comedy,Drama,Family',
 'Drama',
 'Comedy',
 'Musical',
 'Action,Drama',
 'Biography,Crime,Drama',
 'Drama',
 'Comedy,Sci-Fi',
 'nan',
 'Drama',
 'Horror',
 'Action,Crime,Drama',
 'Crime,Horror,Mystery',
 'Horror,Thriller',
 'Biography,Drama,Music',
 'Action',
 'Comedy,Drama,Horror',
 'Documentary',
 'Documentary,Music',
 'Crime',
 'Comedy',
 'Horror',
 'Comedy,Crime,Mystery',
 'Drama,Horror,Mystery',
 'Drama',
 'Drama,Romance',
 'nan',
 'Action,Drama,Romance',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Crime',
 'Comedy,Fantasy',
 'Comedy,Crime,Fantasy',
 'Comedy,History',
 'Crime,Drama',
 'Drama,War',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Horror,Mystery',
 'Drama,Romance',
 'Comedy',
 'Drama',
 'Drama',
 'Drama,Romance',
 'Comedy,Drama',
 'nan',
 'Drama',
 'Drama',
 'Comedy,Musical',
 'Adventure,Romance',
 'Crime,Drama',
 'Drama',
 'Drama',
 'Comedy',
 'Action',
 'Horror',
 'Comedy,Mystery',
 'Horror',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Crime',
 'Drama,Horror,Thriller',
 'nan',
 'Crime,Drama,Thriller',
 'Comedy,Romance',
 'Comedy',
 'Comedy,Crime',
 'Adventure,Animation,Family',
 'nan',
 'Adventure,Comedy,Family',
 'Adult',
 'Drama',
 'Comedy',
 'Horror',
 'Crime',
 'Comedy',
 'nan',
 'Comedy',
 'nan',
 'Family,Fantasy',
 'Comedy,War',
 'Comedy,Mystery',
 'Drama,War',
 'Drama',
 'Comedy',
 'Horror,Thriller',
 'Drama',
 'Drama',
 'Comedy',
 'Drama,War',
 'nan',
 'nan',
 'Comedy',
 'nan',
 'Biography,Drama,Sport',
 'Action,Adventure,Drama',
 'Action,Comedy,Crime',
 'Action',
 'Drama',
 'nan',
 'Comedy,Fantasy',
 'Drama,Fantasy',
 'Horror',
 'Drama',
 'Mystery,Sci-Fi,Thriller',
 'Drama,History',
 'Comedy',
 'Action',
 'Comedy',
 'Biography,Crime,Drama',
 'Comedy,Romance',
 'Drama,Horror,Mystery',
 'Comedy,Music',
 'Biography,Drama,Mystery',
 'Adventure,Comedy,Crime',
 'Drama,Music',
 'Action,Adventure,Drama',
 'Adventure,Drama,Fantasy',
 'Action,Adventure',
 'Action,Comedy',
 'nan',
 'Horror,Sci-Fi,Thriller',
 'Horror,Sci-Fi',
 'Drama,Horror,Mystery',
 'Comedy,Drama',
 'Crime,Drama',
 'Comedy',
 'Action,History,War',
 'Comedy,Fantasy',
 'Drama,Romance,Thriller',
 'Drama',
 'Comedy,Romance',
 'Drama',
 'Comedy',
 'nan',
 'Comedy',
 'Horror',
 'Action,Adventure,Crime',
 'Action,Drama',
 'Action,Comedy',
 'Action,Comedy',
 'Action,Drama',
 'nan',
 'Action,Adventure,Comedy',
 'nan',
 'Action,Comedy',
 'Drama,Romance',
 'Drama',
 'Drama,Horror',
 'Action,Adventure',
 'Action,Drama',
 'nan',
 'Comedy,Drama',
 'Drama',
 'Comedy,Mystery',
 'Action,Drama,Sport',
 'Comedy,Sci-Fi',
 'Drama,Romance',
 'Comedy',
 'Comedy,Crime',
 'Drama',
 'Drama',
 'Action,Comedy',
 'Action,Comedy',
 'Comedy,War',
 'Comedy',
 'Drama,Fantasy,Romance',
 'Family',
 'Comedy',
 'Comedy',
 'Comedy',
 'nan',
 'Drama,Romance',
 'Comedy,Drama',
 'Drama,Romance,Sport',
 'Drama',
 'Drama',
 'Comedy,Drama',
 'nan',
 'Comedy',
 'Drama',
 'Action,Drama,Thriller',
 'Comedy,Crime',
 'Action,Comedy,Drama',
 'Action,Adventure,Sci-Fi',
 'nan',
 'nan',
 'Drama',
 'Comedy,History,War',
 'Drama,Romance',
 'Action',
 'Comedy',
 'Comedy,Drama,Romance',
 'Drama,Family',
 'nan',
 'nan',
 'Comedy,Drama,Romance',
 'Drama',
 'Action,Crime,Drama',
 'Drama',
 'Comedy,Drama,Romance',
 'Drama',
 'Horror,Thriller',
 'Horror',
 'Crime,Horror,Music',
 'Comedy,Crime,Romance',
 'Drama',
 'Drama',
 'Comedy,Romance',
 'Horror,Mystery,Thriller',
 'Drama',
 'Adventure,Comedy,Fantasy',
 'Drama,Music',
 'nan',
 'nan',
 'Drama',
 'Action,Comedy',
 'nan',
 'Comedy,Crime',
 'Drama',
 'Action,Animation,Drama',
 'Drama',
 'nan',
 'Comedy',
 'nan',
 'Comedy,Musical',
 'Comedy,Drama',
 'Thriller',
 'Drama,Family,Fantasy',
 'Horror,Mystery',
 'Drama',
 'Drama',
 'Comedy',
 'nan',
 'Action,Comedy',
 'Drama,War',
 ...]

In [6]:
def get_genres(comma_list):
    '''Returns a sorted list of genres in the dataset'''
    genre_dict = dict()  # { key='genre': val='count' }
    genre_list = list()
    
    for index, val in enumerate(comma_list):
        # create a list of lists for each movie entry
        split_list = comma_list[index].split(',')
        
        # store each genre as one entry in the dictionary
        for index, val in enumerate(split_list):
            genre_dict[val] = genre_dict.get(val, 0) + 1
    
    return convert_dict_to_string(genre_dict)


def convert_dict_to_string(dictionary):
    sortedList = list()
    
    # Create a list of Tuples
    for key, val in dictionary.items():
        sortedList.append(key)
    
    sortedList.sort()
    
    return sortedList


genres_list = get_genres(movies_genres_list)

In [26]:
movie_data_expanded = movie_data.copy()

In [27]:
movie_data_expanded.head()

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0015724,Dama de noche,Dama de noche,1993,102,"Drama,Mystery,Romance",6.2,19
1,tt0023331,Pesn o geroyakh,Pesn o geroyakh,1983,50,Documentary,6.8,66
2,tt0035423,Kate & Leopold,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",6.4,71535
3,tt0036606,"Another Time, Another Place","Another Time, Another Place",1983,118,Drama,6.6,209
4,tt0057461,La rosa de los vientos,La rosa de los vientos,1983,84,NaN,4.1,10

In [28]:
movie_data_expanded['genres'] = movie_data_expanded.genres.fillna('')

In [29]:
movie_data_expanded.head()

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0015724,Dama de noche,Dama de noche,1993,102,"Drama,Mystery,Romance",6.2,19
1,tt0023331,Pesn o geroyakh,Pesn o geroyakh,1983,50,Documentary,6.8,66
2,tt0035423,Kate & Leopold,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",6.4,71535
3,tt0036606,"Another Time, Another Place","Another Time, Another Place",1983,118,Drama,6.6,209
4,tt0057461,La rosa de los vientos,La rosa de los vientos,1983,84,,4.1,10

In [34]:
def find_Value(value, subString):
    if subString in value:
        return True
    else:
        return False

def split_genre_columns(list_of_genres):
    for index, val in enumerate(list_of_genres):
        print(list_of_genres[index])
        #movie_data_expanded[list_of_genres[index]] = movie_data_expanded.apply(lambda x: find_Value(x['genres'], list_of_genres[index]))
        movie_data_expanded[list_of_genres[index]] = movie_data_expanded.apply(lambda x: find_Value(x['genres'], list_of_genres[index]), axis=1)
        
split_genre_columns(genres_list)
movie_data_expanded.head()

Action
Adult
Adventure
Animation
Biography
Comedy
Crime
Documentary
Drama
Family
Fantasy
Game-Show
History
Horror
Music
Musical
Mystery
News
Reality-TV
Romance
Sci-Fi
Short
Sport
Talk-Show
Thriller
War
Western
nan

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,Action,Adult,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,nan
0,tt0015724,Dama de noche,Dama de noche,1993,102,"Drama,Mystery,Romance",6.2,19,False,False,...,False,True,False,False,False,False,False,False,False,False
1,tt0023331,Pesn o geroyakh,Pesn o geroyakh,1983,50,Documentary,6.8,66,False,False,...,False,False,False,False,False,False,False,False,False,False
2,tt0035423,Kate & Leopold,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",6.4,71535,False,False,...,False,True,False,False,False,False,False,False,False,False
3,tt0036606,"Another Time, Another Place","Another Time, Another Place",1983,118,Drama,6.6,209,False,False,...,False,False,False,False,False,False,False,False,False,False
4,tt0057461,La rosa de los vientos,La rosa de los vientos,1983,84,,4.1,10,False,False,...,False,False,False,False,False,False,False,False,False,False

In [40]:
movie_data_expanded.nan.unique()

array([False])

Could keep or remove the `nan` column from the resulting genre list. If kept, it would need to be updated to be `True` for everywhere there is a `''` value in the `genres` column.

<hr>

This pandas doc on [text manipulation with Series](http://pandas.pydata.org/pandas-docs/stable/text.html) may prove useful as another way to solve splitting the genres into their own columns.

<hr>

## Ignore Below

Takes too long to process data

In [ ]:
# source: https://stackoverflow.com/a/41898083
#genre_data = genre_data.apply(lambda x: pd.Series(str(x).split(',')))

In [ ]:
#genre_data.head()

<hr>

Processes way faster than previous.

In [ ]:
# source: 
# https://apassionatechie.wordpress.com/2018/02/24/how-do-i-split-a-string-into-several-columns-in-a-dataframe-with-pandas-python/
split_genres = genre_data.str.split(',', expand=True).rename(columns=lambda x: f"string_{x+1}")

In [ ]:
split_genres.head(10)

<hr>

In [ ]:
#genre_df = pd.DataFrame([False]*28, columns=genres_list)